body {
  background: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7)), url("../../img/background/background--page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
